.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  padding: 26px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form {
  width: 100%;
  max-width: 450px;
}

.register-container .content form input {
  margin-top: 8px;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input + input {
  margin-left: 8px;
}

.register-container .content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.register-container .content ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.register-container .content ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
}

.register-container .content ul li button:hover {
  opacity: 0.8;
}

.register-container .content ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.register-container .content ul li p + strong {
  margin-top: 32px;
}

.register-container .content ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}